* {
	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
}

.top-util ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}

.top-util li {
	display: inline-block;
	font-size: 15px;
	font-weight: 800;
	margin: 0 5px;
	padding: 0;
}

.top-util a, .top-util a:visited {
	color: #000000;
	text-decoration: none;
}

.top-util li a:hover {
	color: #ff0000;
}

.main-util, .search {
	display: inline-block;
}

#logo img {
	width: 190px;
	margin: 20px 0 20px 10px;
}

.main-util h1 {
	margin: 0;
}

.search {
	padding:0;
	border-radius: 30px;
	background-color: #909090;
	margin: 0 0 0 20px;
	position: relative;
	top: -40px;
}

.search input { 
	border: none;
	outline:none;
	font-size: 16px;
	width: 325px;
	padding: 10px;
	background-color: transparent;
}

.search button {
	border: none;
	background-color: transparent;
	margin: 0;
	position: relative;
	top: -2px;
	right: 3px;
}

.cart-name h2 {
	margin: 0 0 10px 60px;
}

.orderform {
	border-top: 1px solid #adadad;
	font-size: 20px;
	margin-bottom: 20px;
	max-width: 90%;
    margin: 0 auto; 
	/*
    background-color: #fff;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;*/
}

.row-head {


	background-color: #adadad;
	font-size: 15px;

}

.row-head div  {
	display: inline-block;
	margin: 0;
	padding: 10px 0;
	text-align: center;

}

.row-data {
	border-bottom: 1px dashed #adadad;
	cursor: pointer;
	width: 100%;
	padding: 0 0 20px 0;
}

.row-data div {
	display: inline-block;
	margin: 0;
	text-align: center;
}

.row-data .data-img img {
	width: 100px;
	position: relative;
	top: 20px;
}

.row-data .data-choice, .row-data .data-checkbox,
.row-data .data-name, .row-data .data-price,
.row-data .updown, .row-data .delete-button {
	padding: 20px 0;
}



.row-head .choice, .row-data .data-choice {
	width: 10%;
}

.row-head .checkbox, .row-data .data-checkbox{
	width: 10%;
}

.row-head .image, .row-data .data-img {
	width: 15%;
}

.row-head .product-name, .row-data .data-name {
	width: 30%;
}

.row-head .price, .row-data .data-price {
	width: 15%;
}

.row-head .num, .row-data .updown {
	width: 10%;
}

.row-head .delete, .row-data .delete-button {
	width: 5%;
}

.row-data .delete-button button {
	width: 65%;
	height:30px;
	background-color: #adadad;
	background-size: 100%;
  	color:white;
  	font-weight: 400;
  	font-size: 13px;
  	border:none;
}

.cart-bottom .select-product-button, 
.cart-bottom .cart-delete {
	display: inline-block;
}

.cart-bottom .select-product-button button, 
.cart-bottom .cart-delete button {
	width: 100px;
	height:30px;
	background-color: #adadad;
	background-size: 100%;
  	color:white;
  	font-weight: 400;
  	font-size: 13px;
  	border:none;
}

.order .order-button button {
	width: 110px;
	height:30px;
	background-color: #adadad;
	background-size: 100%;
  	color:white;
  	font-weight: 400;
  	font-size: 13px;
  	border:none;
}

.cart-bottom .select-product-button button, 
.cart-bottom .cart-delete button {
	text-align: center;
	margin: 5px 0 0 0;
}

.cart-text {
	text-align: right;
}

.order-button {
	text-align: center;
}



.footer {
	text-align: center;
	background-color: #adadad;
	padding: 20px;
	color: #fff;
	width:100%;
    height:50px;
    position:absolute;
    bottom:0;
}